body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background-color: #000000;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
.leaderboard {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .leaderboard h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  table {
    margin-top: 6rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 30px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 100px;
  }
  
  th {
    font-weight: bold;
  }
  
  .avatar {
    width: 85px;
    height: 85px;
    border-radius: 40%;
  }
  