.poll-details {
  max-width: 600px;
  margin: 7rem auto 2rem;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: #14171a;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #f7f9f9;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  color: #14171a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.option:hover {
  background-color: #3b3b3b;
  color: #ffffff;
  transform: scale(1.03);
}

.option.selected {
  background-color: #414141;
  color: #ffffff;
  font-weight: bold;
}

.option strong {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #f0f0f0;
}

@media (max-width: 768px) {
  .poll-details {
    padding: 20px;
    margin-top: 4rem;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }

  .option {
    font-size: 14px;
    padding: 10px;
  }
}
