.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e507c;
    padding: 10px 20px;
    color: white;
    font-family: Arial, sans-serif;
    min-height: 50px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.4s;
  }
  
  .navbar a:hover {
    color:#000000;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar button {
    padding: 5px 10px;
    border-radius:50px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #ffffff;
    color: black;
  }
  