.login-container {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 16rem;
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 73vh;
    width: 100%;
  }
  
  select {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
  }
  
  button {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  